@keyframes glow-border {
    0% {
      box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.4);
    }
    50% {
      box-shadow: 0 0 30px 10px rgba(255, 223, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px 3px rgba(255, 223, 0, 0.4);
    }
  }
  
  .animate-glow-border {
    animation: glow-border 2s infinite;
    border: 1px solid #FFDF00; /* Thin golden border */
    border-radius: 12px;
  }

